.container
  %h1.mt-5 title 
  %p.lead
    textarea,textarea,textarea,textarea
  .media-body
    %h5.mt-0  コメント
    %p  リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文
    %h5.mt-0  コメント
    %p  リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文
= link_to "top" ,root_path

= link_to "edit" ,edit_posts_path
